### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

#Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)

## Player Count

* Display the total number of players

In [2]:
#Finding Player Count and setting up loc for future use
player_info = purchase_data.loc[:,["Gender", "SN", "Age"]]
#Remember we dont want duplicate SN
player_info = player_info.drop_duplicates()
player_count = player_info.count()[0]


#Create the data frame to show total players
pd.DataFrame({"Total Players":[player_count]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Finding calculations for number of unique items, average purchase price, total number of purchases, and total revenue.
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_purchase_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

#Creating the data frame
purchasing_analysis_df = pd.DataFrame ({"Number of Unique Items":[number_of_unique_items],
                                        "Average Purchase Price":[average_purchase_price],
                                        "Number of Purchases":[number_of_purchases],
                                        "Total Revenue":[total_revenue]})

#Formatting
purchasing_analysis_df.style.format({'Average Purchase Price':"${:,.2f}",
                                     'Total Revenue':"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Finding gender count and percentage
gender_count = player_info["Gender"].value_counts()
gender_percent = gender_count/player_count*100

#Create Data Frame
gender_demo_df = pd.DataFrame({"Total Count": gender_count,
                               "Percentage of Players": gender_percent})

#Formatting
gender_demo_df.style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Finding Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total per Person by Gender
#Sort Data by Gender
gender_analysis = purchase_data.groupby("Gender")

purchase_count_gender = gender_analysis["Purchase ID"].count()
average_purchase_price_gender = gender_analysis["Price"].mean()
total_purchase_value_gender = gender_analysis["Price"].sum()
average_purchase_total_gender = total_purchase_value_gender / gender_count

#Create Data Frame
gender_purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_gender,
                                            "Average Purchase Price":average_purchase_price_gender,
                                            "Total Purchase Value":total_purchase_value_gender,
                                            "Avg Total Purchase per Person":average_purchase_total_gender})
#Formatting
gender_purchase_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                          "Total Purchase Value":"${:,.2f}",
                                          "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
#Create Bins and Change the Labels
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_info["Age Groups"] = pd.cut(player_info["Age"], age_bins, labels = bin_labels)
age_demo = player_info["Age Groups"].value_counts()
age_demo_percent = age_demo/player_count*100

#Create Data Frame
age_demo_df = pd.DataFrame({"Total Count": age_demo,
                            "Percentage of Players": age_demo_percent})

#Formatting
age_demo_df = age_demo_df.sort_index()
age_demo_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Finding Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total per person
#Sort Data by Age Groups (bins)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Add "Age Groups" into my data
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels = bin_labels)
age_groups = purchase_data.groupby("Age Groups")

purchase_count_age = age_groups["Purchase ID"].count()
average_purchase_price_age = age_groups["Price"].mean()
total_purchase_value_age = age_groups["Price"].sum()
average_purchase_total_age = total_purchase_value_age / age_demo

#Create Data Frame
age_purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                         "Average Purchase Price": average_purchase_price_age,
                                         "Total Purchase Value": total_purchase_value_age,
                                         "Avg Total Purchase per Person": average_purchase_total_age})

#Formatting
age_purchase_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}",
                                      "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
#Finding the Top 5 Spenders and finding their Purchase Count, Average Purchase Price, Total Purchase Value
#Sort Data by SN
spender_info = purchase_data.groupby("SN")

purchase_count_spender = spender_info["Purchase ID"].count()
average_purchase_price_spender = spender_info["Price"].mean()
total_purchase_value_spender = spender_info["Price"].sum()

#Create Data Frame
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spender,
                               "Average Purchase Price": average_purchase_price_spender,
                               "Total Purchase Value": total_purchase_value_spender})
#Sort by Descending Order To Get Top 5 Spenders
top_5_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head(5)

#Formatting
top_5_spenders_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Retrieve the Item ID, Item Name, and Price Columns 
items = purchase_data[["Item ID", "Item Name", "Price"]]

#Sort the items by Item ID and Item Name
item_info = items.groupby(["Item ID", "Item Name"])

#Finding Purchase Count, Average Item Price, and Total Purchase Value
purchase_count_item = item_info["Price"].count()
total_purchase_value_item = item_info["Price"].sum()
average_price_item = total_purchase_value_item/purchase_count_item

#Create Data Frame
most_popular_items_df = pd.DataFrame({"Purchase Count":purchase_count_item,
                                     "Item Price":average_price_item,
                                     "Total Purchase Value":total_purchase_value_item})
#Make it Descending to Give Top 5 Popular
top_5_popular_items_df = most_popular_items_df.sort_values("Purchase Count", ascending=False).head(5)

#Formatting
top_5_popular_items_df.style.format({"Item Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#You can use the data frame from previous cell and change the sorting to find Top 5 Profitable
top_5_profitable_items_df = most_popular_items_df.sort_values(["Total Purchase Value"], ascending=False).head(5)

#Formatting
top_5_profitable_items_df.style.format({"Item Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}"})